{% extends "core/base_login.html" %}
{% load static %}
{% load bootstrap5 %}

{% block content %}

<div class="container w-25 my-3 purple">
{% if title %}
  <div class="row text-center">
    <h1 class="display-6 pb-1 border-bottom">{{title}}</h1>
  </div>
{% endif %}
  <div class="row">
    <form method="post" class="p-3">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <input class="btn my-btn-outline-dark rounded w-100 mt-2" type="submit" value="Enviar">
      {% endbuttons %}
    </form>
  </div> 
</div>

{% endblock %}
